.gallery__like-button {
    display: flex;
    justify-self: flex-end;
    margin: 30px 21px 0 0;
    width: 20.76px;
    height: 18.13px;
    border: none;
    padding: 0;
    background-color: white;
    background-image: url(../../../images/heart.svg);
    transition: background-image opacity .5s ease-in-out;  
}

.gallery__like-button:hover {
    cursor: pointer;
    opacity: .6;
}

.gallery__like-button:focus{
    outline:none;
}